<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nbcedu.project.dao.ProjectTypeMapper" >
  <resultMap id="BaseResultMap" type="com.nbcedu.project.model.ProjectType" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="is_available" property="isAvailable" jdbcType="BIT" />
    <result column="p_id" property="pId" jdbcType="VARCHAR" />
    <result column="des" property="des" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, sort, is_available, p_id,des
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_act_project_type
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_act_project_type
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nbcedu.project.model.ProjectType" >
    insert into t_act_project_type (id, name, sort, 
      is_available, p_id,des)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{isAvailable,jdbcType=BIT}, #{pId,jdbcType=VARCHAR},#{des,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nbcedu.project.model.ProjectType" >
    insert into t_act_project_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="isAvailable != null" >
        is_available,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="des != null" >
        des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isAvailable != null" >
        #{isAvailable,jdbcType=BIT},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=VARCHAR},
      </if>
       <if test="des != null" >
        #{des,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nbcedu.project.model.ProjectType" >
    update t_act_project_type
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isAvailable != null" >
        is_available = #{isAvailable,jdbcType=BIT},
      </if>
      <if test="pId != null" >
        p_id = #{pId,jdbcType=VARCHAR},
      </if>
      <if test="des != null" >
        des = #{des,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nbcedu.project.model.ProjectType" >
    update t_act_project_type
    set name = #{name,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      is_available = #{isAvailable,jdbcType=BIT},
      p_id = #{pId,jdbcType=VARCHAR},
      des = #{des,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_act_project_type
    where p_id  is null
    ORDER BY sort
  </select>
  
  <select id="selectBypId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_act_project_type
    where p_id = #{pId,jdbcType=VARCHAR}
    ORDER BY sort
  </select>
  
</mapper>